/* You can add global styles to this file, and also import other style files */
.common-color {
    background: linear-gradient(175deg, #020024, #090979);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}
